html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%; /* added by Polina to test maps */
}

#root {
  width: 100%;
  height: 100%; /* added by Polina to test maps */
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

main {
  padding: 5rem; /* for small screens, do 5rem for large screens */
  width: 100%; /* added by Polina to test maps */
  height: 100%; /* added by Polina to test maps */
}